.contft {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;

}

.loading-overlay {
  display: grid;
  justify-content: center;

}

.loading-bar {
  width: 200px;
  height: 10px;
  background-color: #fff;
  position: relative;
}

.loading-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #2196f3;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.loading-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.estiloError {
  
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  color: #c91313;
  gap: 2rem;
  
}

.estiloError__h1 {
  font-size: 100px;
  
  
  
}
.circuloError{
 
  text-align: center;
  background-color: #c91313;
  color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  
}