.pesquisar {
    background-color: rgb(255, 255, 255);
    width: 295px;
    height: 48px;
    border: unset;
    border-radius: 26px;
    text-align: center;
    box-shadow: 0px 3px 0px #0004;
    
}
