.nav{
    
}

.pesquisar {
    background-color: rgb(255, 255, 255);
    width: 295px;
    height: 48px;
    border: unset;
    border-radius: 26px;
    text-align: center;
    box-shadow: 0px 3px 0px #0004;
    
}
.filtro{
    background-color: rgb(2, 4, 12);
    width: 150px;
    height: 48px;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 0px rgba(48, 28, 86, 0.267);
    margin-left: 5rem;
    color: aliceblue;
}