.nav{
    
}

.pesquisar {
    background-color: unset;
    width: 295px;
    height: 48px;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.136);
    
}
.filtro{
    background-color: unset;
    width: 170px;
    height: 48px;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.136);
    margin-left: 1rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
}