.quote {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 540px;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
  background-image: url(./parallaxPC.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 85% ;
  opacity: 0.4; /* Defina a opacidade da imagem de fundo aqui */
}

@media (max-width: 425px) {
  .background-image {
    background-image: url('./parallaxCelular.png');
   
  }
}

@media (max-width: 600px) {
  .background-image {
    background-image: url('./parallaxTablet.png');
   
    
  }
}

.texto {
  padding: 1rem;
  font-size: 40px;
  color: rgb(255, 255, 255);
  overflow-wrap: break-word;
}
